<div class="row">
	   <% @cards.each do |card| %>
    <div class="col-md-4">
      <div class="well">
        
        
        <p><%= card.front %></p>
        <a href="#" data-toggle="modal" data-target="#myModal_<%= card.id %>">
          <span class="glyphicon glyphicon-hand-right"></span> Answer
        </a>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal_<%= card.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Answer:</h4>
          </div>
          <div class="modal-body">
        
            <p><%= card.back %></p>
        
          </div>
        </div>
      </div>
    </div>
    <% end %>
</div>

		