<div class="row">
	<% @cards.each do |card| %>
		<div>
			<div class="well">
				<strong><%= card.id %></strong>
				<div>
				<%= card.front %><br/>
        <% end %>
				</div>
				
				
			</div>
		</div>

		